body {
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    margin: 0 !important;
    overflow: hidden!important;
}

h2 {
    font-weight: 300;
    text-align: center;
}

p {
    position: relative;
}

a,
a:link,
a:visited,
a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#login-form-wrap {
    background-color: #fff;
    width: 35%;
    margin: 100px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
    padding: 0 60px;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

.error-form {
    color: red;
    font-size: 17px;
    text-align: center;
}

input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #3ca9e2;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
}

input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
}

input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

#header {
    background: #3ca9e2;
    margin: 0;
}

#header h3 {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    margin: 0;
}

.success-link {
    text-align: center;
    color: green;
}

.action-theme-button {
    cursor: pointer;
    color: #2b0245;
}

.theme-btn {
    background: #2b0245;
    color: white;
}

.restore-theme-button {
    cursor: pointer;
    color: green;
    font-weight: 600;
    font-size: 15px;
}

.deleted-record {
    background: #e5d5d5;
}

#user-update-form .error-form {
    text-align: left;
    margin-top: 10px;
}

.success-update {
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}

.theme-btn:active, .theme-btn:hover, .theme-btn:focus, .theme-btn:visited {
    color: white;
}

.modal-header {
    background: #2b0245;
}

.modal-header h4 {
    color: white;
    text-align: center;
}

.kanban-board-class {
    background: #2b0245;
}

.kanban-board-class div {
    color: white;
}

.checkbox-custom {
    display: inline-block;
    width: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 13px;
    left: 5px;
}

.cpointer {
    cursor: pointer;
}

.board-action, .task-action {
    float: right;
}

.board-action i, .task-action i {
    cursor: pointer;
}

.custom-left {
    text-align: left;
}

.kanban-wrapper {
    overflow-x: auto;
    padding: 30px 0;
}

.deleted-board, .deleted-task {
    background: #dda4a4;
    color: white;
}

.task-doer {
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: default;
}
